<div class="border bg-white rounded m-2 py-2 px-3">
  <div class="flex items-center mb-3">
    <app-icon-button
      icon="chevron-left"
      (click)="moveLeft(card)"
      classes="h-8 w-8 rounded-3xl bg-transparent border border-slate-200   hover:bg-slate-100"
      [disabled]="card.column.order === 1"
    />
    <div class="grow flex justify-center">
      <button
        type="button"
        (click)="isEdit.set(true)"
        class="button-outline text-sm fond-medium text-slate-900 py-1 px-3 rounded-md hover:bg-slate-100"
      >
        Edit
      </button>
    </div>
    <app-icon-button
      icon="chevron-right"
      classes="h-8 w-8  rounded-3xl bg-transparent border   hover:bg-slate-100"
      (click)="moveRight(card)"
      [disabled]="card.column.order > 0 && card.column.order === 4"
    />
  </div>
  <p
    class="leading-normal text-neutral-700 hover:cursor-pointer"
    (click)="flip()"
  >
    {{ card.question }}
  </p>

  @if (flipped) {
  <div class="my-3">
    <div class="border-b border-dashed border-slate-400 mb-2"></div>
    <span class="text-slate-600 text-sm">Answer:</span>
    <p class="leading-normal text-slate-800 mb-2">{{ card.answer }}</p>
    <span class="text-slate-600 text-sm">Description:</span>
    <p class="leading-normal text-slate-800">{{ card.description }}</p>
  </div>
  }

  <button (click)="isAnswer.set(true)" type="button" class="button">
    Suggest an answer
  </button>

  @if (isAnswer()) {
  <app-propose-answer [card]="card" (dismiss)="isAnswer.set(false)" />
  } @if (isEdit()) {
  <app-edit-flashcard [card]="card" (dismiss)="isEdit.set(false)" />
  }
</div>
