<div class="container">
    <div class="w-[480px] m-auto">
        <form class="space-y-6 my-12" (submit)="onSubmit($event)">
            <div class="form-field">
                <label for="username">Username</label>
                <input
                        class="text-input"
                        id="username"
                        name="username"
                        placeholder="Enter your username"
                        [formControl]="username"
                />
                @if (username.invalid && username.dirty) {
                    <label class="text-red-500 text-sm">The username field is required</label>
                }
            </div>

            <div class="form-field">
                <label for="password">Password</label>
                <input
                        class="text-input"
                        id="password"
                        name="username"
                        placeholder="Enter your password"
                        value="password"
                        [formControl]="password"
                />
                @if (password.invalid && password.dirty) {
                    <label class="text-red-500 text-sm">The password field is required</label>
                }
            </div>

            <div class="form-field">
                <button type="submit" class="button">Login</button>
            </div>
        </form>
    </div>
</div>
